
<!--<div class="alert alert-warning" id="no-result" *ngIf="templates?.length === 0">-->
<!--    <span>No templates found</span>-->
<!--</div>-->

<!--<div class="table-responsive" id="entities" *ngIf="templates?.length > 0">-->
<!--    <table class="table table-striped" aria-describedby="page-heading">-->
<!--        <thead>-->
<!--        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">-->
<!--&lt;!&ndash;            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>&ndash;&gt;-->
<!--            <th scope="col"  jhiSortBy="templateTitle"><span>Template Title</span> <fa-icon icon="sort"></fa-icon></th>-->
<!--            <th scope="col"  jhiSortBy="templateContent"><span>Template Content</span> <fa-icon icon="sort"></fa-icon></th>-->
<!--            <th scope="col"  jhiSortBy="paid"><span>Paid</span> <fa-icon icon="sort"></fa-icon></th>-->
<!--            <th scope="col"  jhiSortBy="creationDate"><span>Creation Date</span> <fa-icon icon="sort"></fa-icon></th>-->
<!--            <th scope="col"  jhiSortBy="updateDate"><span>Update Date</span> <fa-icon icon="sort"></fa-icon></th>-->
<!--            <th scope="col"></th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">-->
<!--        <tr *ngFor="let template of templates ;trackBy: trackId">-->
<!--&lt;!&ndash;            <td><a [routerLink]="['/template', template.id, 'view']">{{ template.id }}</a></td>&ndash;&gt;-->
<!--            <td>{{ template.templateTitle }}</td>-->
<!--            <td>{{ template.templateContent }}</td>-->
<!--            <td>{{ template.paid }}</td>-->
<!--            <td>{{ template.creationDate | date:'medium' }}</td>-->
<!--            <td>{{ template.updateDate | date:'medium' }}</td>-->
<!--            <td class="text-right">-->
<!--                <div class="btn-group">-->
<!--&lt;!&ndash;                    <button type="submit"&ndash;&gt;-->
<!--&lt;!&ndash;                            [routerLink]="['/template', template.id, 'view']"&ndash;&gt;-->
<!--&lt;!&ndash;                            class="btn btn-info btn-sm">&ndash;&gt;-->
<!--&lt;!&ndash;                        <fa-icon icon="eye"></fa-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="d-none d-md-inline">View</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </button>&ndash;&gt;-->

<!--                    <button type="submit"-->
<!--                            [routerLink]="['/template', template.id, 'edit']"-->
<!--                            class="btn btn-primary btn-sm">-->
<!--                        <fa-icon icon="pencil-alt"></fa-icon>-->
<!--                        <span class="d-none d-md-inline">Edit</span>-->
<!--                    </button>-->

<!--&lt;!&ndash;                    <button type="submit" (click)="delete(template)"&ndash;&gt;-->
<!--&lt;!&ndash;                            class="btn btn-danger btn-sm">&ndash;&gt;-->
<!--&lt;!&ndash;                        <fa-icon icon="times"></fa-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="d-none d-md-inline">Delete</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </button>&ndash;&gt;-->
<!--                </div>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->
<p>aaaaaaaaaaaaaa</p>
