<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="template">
            <h2><span>Template</span> {{ template.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Template Title</span></dt>
                <dd>
                    <span>{{ template.templateTitle }}</span>
                </dd>
                <dt><span>Template Content</span></dt>
                <dd>
                    <span>{{ template.templateContent }}</span>
                </dd>
                <dt><span>Paid</span></dt>
                <dd>
                    <span>{{ template.paid }}</span>
                </dd>
                <dt><span>Creation Date</span></dt>
                <dd>
                    <span>{{ template.creationDate }}</span>
                </dd>
                <dt><span>Update Date</span></dt>
                <dd>
                    <span>{{ template.updateDate }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/template', template.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
